<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Lista de Productos</title>

</head>
{{#if user}}
<p>Vista de Productos</p>

<div class="form-group">

    <label>Bievenido! {{user.username}}</label>

    <div id="user-profile-2" class="user-profile">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-18">
                <li class="active">
                    <a data-toggle="tab" href="#home">
                        <i class="green ace-icon fa fa-user bigger-120"></i>
                        Profile
                    </a>
                </li>
            </ul>

            <div class="tab-content no-border padding-24">
                <div id="home" class="tab-pane in active">

                    <div class="row">

                        <div class="col-xs-12 col-sm-3 center">
                            <span class="profile-picture">
                                <img class="imagen" alt=" Avatar" id="avatar2" src={{{user.foto}}}>
                            </span>

                            <div class="space space-4"></div>

                        </div><!-- /.col -->

                        <div class="col-xs-12 col-sm-9">


                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Nombre Completo </div>

                                    <div class="profile-info-value">
                                        <span>{{user.username}}</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Email </div>

                                    <div class="profile-info-value">
                                        <span>{{user.email}}</span>
                                    </div>
                                </div>

                            </div>

                            <div class="hr hr-8 dotted"></div>

                            <div class="profile-user-info"></div>

                        </div><!-- /.col -->

                    </div><!-- /.row -->

                </div><!-- /#home -->
            </div>

        </div>
    </div>

    <form action="/logout" method="get" class="form-horizontal" role="form">
        <div class="form-group last" style="margin-bottom:0px;">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="hidden" name="form" value="1" />
                <button type="submit" class="btn btn-success btn-sm">
                    Desloguearse
                </button>
            </div>
        </div>
    </form>

</div>
{{else}}
<p>Vista de Productos</p>

<div class="form-group">
    <label>Usuario no Logeado</label>
</div>

{{/if}}

<br>
<a href="/productos/lista">Ir al Panel de Productos</a>
<br><br>
<form action="/productos" method="post" role="form">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input id="input-title" class="form-control" type="text" name="title">
    </div>
    <div>
        <label for="name">Precio</label>
        <input id="input-thumbnail" class="form-control" type="number" name="price">
    </div>
    <div>
        <label for="name">Foto</label>
        <input id="input-thumbnail" class="form-control" type="text" name="thumbnail">
    </div>
    <button id='miBoton' type="submit" class="btn btn-default">CARGAR PRODUCTO</button>
</form>
<br>

<h4>Chat de Consultas y Respuestas</h4>

<div id="porcentaje"></div>
<div id="mensajes"></div>
<script src='index.js' charset="utf-8"></script>
<form class="form-online" onsubmit="return nuevomensaje(this)" autocomplete="off">
    <input type="email" id='email_usuario' class="form-control my-3 mr-3" placeholder="Tu Correo electrónico">
    <input type="text" id="nombre" class="form-control my-2 mr-2" placeholder="Nombre">
    <input type="text" id="apellido" class="form-control my-2 mr-2" placeholder="Apellido">
    <input type="text" id="edad" class="form-control my-2 mr-2" placeholder="Edad">
    <input type="text" id="alias" class="form-control my-2 mr-2" placeholder="Alias">
    <input type="text" id="avatar" class="form-control my-2 mr-2" placeholder="Avatar">
    <input type="text" id='texto' class="form-control my-3 mr-3" placeholder="Escribe un mensaje">
    <input class='btn mensaje' type="submit" value="Enviar mensaje">
</form>
</div>
<br>

</html>