<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>Lista de Productos</title>

</head>

<body>

    <h3>Panel de productos</h3>


    <form action="http://localhost:8080/index">
        <button id='lista_carito' type="submit">Cargar un producto nuevo</button>
    </form><br>

    <form action="http://localhost:8080/inicio">
        <button id='lista_carito' type="submit">Volver al inicio</button>
    </form><br>

    {{#mytitle}}Lista de Productos Admin{{/mytitle}}

    {{#if productos}}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Codigo</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Foto</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>

            {{#each productos}}

            <tr>
                <th scope="row">{{_id}}</th>
                <td><b>{{nombre}}</b></td>
                <td>{{descripcion}}</td>
                <td>{{codigo}}</td>
                <td>{{precio}}</td>
                <td>{{stock}}</td>
                <td><img class="img-thumbnail" src={{{foto}}} alt="" /></td>
                <td>
                    <form action="/productos/borrar/{{{_id}}}" method="POST" role="form">
                        <button id='borrar-producto' type="submit" class="form-control">Eliminar Producto</button>
                    </form><br>
                    <form action="/productos/actualizar/{{{_id}}}?id={{{_id}}}" method="put" role="form">
                        <button id='actualizar-producto' type="submit" class="form-control">Actualizar Producto</button>
                    </form><br>                    
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}

    <p>No hay productos</p>

    {{/if}}
</body>